---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TNS Esports {{ page.title }}</title>
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->

    <script>document.write('<link rel="stylesheet" href="/assets/css/style.css?dev=' + Math.floor(Math.random() * 100) + '"\>');</script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/assets/images/text-1628033356399.png">
            </a>
        </div>

        <ul class="navButtons">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="">Apply</a>
            </li>
            <li>
                <a href="/">Shop</a>
            </li>
        </ul>
    </nav>

    <div class="screen">
        <div class="parallax"></div>

        <div class="container">
            {{ content }}
        </div>

        <div class="parallax"></div>

        <div class="footer">
            <p>In loving memory of Sir George TNS (1886-1887)</p>
            <p class="copyright">© Copyright TNS Esports</p>
        </div>

    </div>
</body>
</html>